<div class="container">
  <div class="columns is-centered">
    <div class="card">
      <div class="card-content">

        <div class="content">
        <app-vision-title></app-vision-title>

          <!-- <input class="input" #titleInput type="text" [(ngModel)]="inputText" placeholder="What's in your mind?"> -->
          <input class="input" type="text" placeholder="What's in your mind?"  [(ngModel)]="inputText" (keyup.enter)="onEnterKeyPressed(inputText)">
        </div>
        <button type="submit" class="button is-info" [disabled]="!inputText" (click)="generateResult(inputText)">Ask Me</button>


      </div>
      <!-- <div  *ngIf="(!gptAns && mySearch.text)" > -->
      <div  *ngIf="isLoading" >
        <app-svg-loading></app-svg-loading>
      </div>
    <div *ngIf="gptAns && !mySearch.text" class="card answer-resp">
      <div class="card-content">
        <p class="title">
          <code>
            <span  [innerHTML]="typedResponse"></span>
          </code>
        </p>
      </div>
    </div>

  </div>
</div>

